
ion-content {
    --background: var(--ion-color-dark);
}

.verification-content {
    text-align: center;
    height: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
}

h1 {
    color: var(--ion-color-medium);
}

.verify-form {
    padding: 20px;
    max-width: 330px;
    display: block;
    margin: 0 auto;
}

ion-item {    
    padding: 5px;
    margin-bottom: 10px;
}

.actions {
    padding: 20px 0;
}