ion-content {
    --background: var(--ion-color-dark);
}

.account-content {
    text-align: center;
    height: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
}

.account-form {
    padding: 20px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

h4 {
    color: whitesmoke;
}

.actions {
    padding: 50px 0;
}