<ion-content padding>

  <div class="account-content">
    <div class="vertical-align">

      <div class="account-form">
        <h4>Step 3 (Account Status)</h4>
  
        <ion-item>
          <ion-label text-wrap color="medium">      
            Thank you for signing up 
            as an anyWhere Momo agent. 
            We will review your credentials 
            and notify you on approval.
          </ion-label>
        </ion-item> 
        
        <div class="actions">
          <ion-button color="primary" expand="block" fill="solid">ACCEPT</ion-button>
        </div>
      </div>      
      
    </div>
  </div>

</ion-content>
