<ion-content>
  <!-- <ion-menu-button></ion-menu-button> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToProfilePage()" [routerDirection]="'forward'">
      <ion-avatar>
        <img src="assets/avatar/avatar.png">
      </ion-avatar>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">    
    <ion-fab-button>
      <ion-icon name="wifi"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="map" style="width:100%; height:100vh;"></div>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="md-arrow-dropup"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>You're Offline</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-footer>
