<ion-content padding>
  <ion-menu-button></ion-menu-button>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToProfilePage()" [routerDirection]="'forward'">
      <ion-avatar>
        <img src="assets/avatar/avatar.png">
      </ion-avatar>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">    
    <ion-fab-button>
      <ion-icon name="wifi"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
